body {
    width: 550px;
    margin: auto auto;
    max-width: 60vw;
    min-width: 40vw;
    font-family: Comic Sans MS;
    font-size: 18px;
    background-image: url(https://cdn.wallpapersafari.com/83/7/ptOZ0s.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  h1 {
    text-align: center;
  }
  
  .portada {
    margin: auto auto; 
    width: 250px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);
  }
  
  fieldset {
    border: none;
    margin: 3px 0px;
    border-bottom: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);
  }
  
  div {
    padding: 20px;
    background-color: rgba(52, 152, 219, 0.8); /* 50% de opacidad */
    color: #000;
  }
  
  input, textarea {
    background-color: #154a6e;
    color: white;
  }
  
  input::placeholder {
    color: gray;
  }
  
  label, legend{
    display: block;
    margin: 1em 0;
  }
  
  input[type="text"], input[type="email"], input[type="number"] {
    width: 100%
  }
  
  img {
    width: 100px;
    margin: auto auto;
    height: 100px;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);
  }
  
  textarea {
    margin-top:1em;
    display: block;
  }
  
  button {
    background-color: white;
    font-family: Comic Sans SA;
    font-size: 1em;
    padding: 10px 20px;
    width: 100%
  }